.container {
  width: 100%;
  max-width: 700px;
  min-height: 400px;
  background-color: #85b7a7;
  border-radius: 30px;
  padding: 10px;
  overflow: hidden;
}

.container h1 {
  text-align: center;
}

.form {
  position: relative;
}

.input {
  padding: 2px;
  border-radius: 20px;
  border: 1px solid #649182;
}

.input:focus {
  outline: none;
}

.btn-add {
  border-radius: 10px;
  border: 1px solid #ccc;
  background: transparent;
  position: absolute;
  top: 0px;
  right: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-add:hover{
  background: #e7e7e7;
  transition: all 0.3s ease;
}

.todolist li {
  margin: 10px 0;
  list-style-type: square;
}

.buttons {
  margin-left: 10px;
}

.buttons button{
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 700;
  padding: 0px 6px;
  text-align: center;
  transition: all 0.3s ease;
}

.buttons button:hover {
  background: #defaf1;
  transition: all 0.3s ease;
}