/* *{
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.main {
  width: 650px;
  padding: 40px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #355c7d;
  color: #fff;
}

.block .title{
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 700;
}

.fill-data {
  position: relative;
  text-align: center;
}

.fill-data input {
  width: 300px;
  margin: 0 auto;
  padding: 3px;
}

input:focus{
  outline: none;
}

.btn-add {
  position: absolute;
  top: 0px;
  right: 174px;
  padding: 3px;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

.content {
  width: 90%;
  margin-top: 20px;
  padding: 10px 40px;
  position: relative;
}

.tasks li {
  line-height: 1.5;
}

.subtasks {
  margin-left: 10px;
}

.remove-task,
.remove-subtask {
  position: absolute;
  right: 60px;
  background: white;
  border: none;
  padding: 2px;
  border-radius: 10px;
}

.btn-show {
  margin-top: 5px;
  background: #fff;
  border: none;
  padding: 3px 10px;
  border-radius: 10px;
}

.subtask {
  position: relative;
}

.subtask input{
  margin: 5px 0;
}

.btn-add-subtask {
  position: absolute;
  padding: 1px 4px;
  top: 5px;
  left: 163px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 700;
} */